

:root
{
	--pink:#A149FA; 
	--white:#F9F2ED;
	--blue:#F7EC09;
	--tex:#3EC70B;
	--rwhite:#f1faee;
	--darkblue:#3B44F6;
}
body
{
	font-family: "Monospace","Serif";
	margin: 0px;
}
.nav-bar
{
    display: inline;
	padding: 1rem;
	font-size:20px;
}
.nav{
    list-style: none;
	text-align: right;
	padding: 1rem;
	
}
.cont
{
    background-color: var(--pink);
	border-bottom-left-radius: 1rem;
  
}
.link
{
	text-decoration: none;
	  color: var(--white);
}
.link-active
{
	font-weight:bold;
	color: var(--blue);
}
.link:hover
{
	color: var(--blue);
}
.link-in
{
	text-decoration: none;
}
.link-in:hover
{
	box-shadow: 0 4px 15px 0 rgba(247, 236, 9, 1);
	border-radius: 5px;
}
.head-pro
{
	Color: var(--darkblue);
	text-decoration: none;
}
.git-link
{
	color: var(--tex);
	text-decoration: none;
}
#float{
float:right;
}
#rght{
	float:left;
}
.git-link:hover
{
	/**color: linear-gradient(to right, #FFB562, #FFB562, #FFB562, #FFB562);**/
    box-shadow: 0 4px 15px 0 rgba(247, 236, 9, 1);
	border-radius: 5px;
}
.head
{
	padding-top: 1rem;
	padding-left: 1rem;
	font-weight:bold;
	color:var(--blue);
	font-size:25px;
}
.main-img
{
	max-width: 450px;
	margin: auto;
	display: block;
}
.p-in-head
{
	text-align: center;
	color: var(--darkblue);
	font-size:50px;
}

.para
{
	font-size:25px;
	text-align: center;
	color:var(--tex);
	max-width: 800px;
	margin: auto;
	padding-bottom: 1rem;
}
.sec
{
	padding: 1rem 1rem;
	text-align: center;
	font-size:25px;    
}
.dev-div
{
	text-align: center;
	text-align: justify;
	padding: 0.25rem;
	font-size: 25px;
}
.dev-div-border
{
	background-color:rgb(247, 236, 9,0.2);
	text-align: center;
	text-align: justify;
	padding: 0.25rem;
	font-size: 25px;
	
}
.not
{
	text-align: center;
	text-align: justify;
	padding: 0.25rem;
	font-size: 25px;
	background-color: var(--white);
}
.in-sec
{
	max-width: 600px;
	margin: auto;
}
.high
{
	color: var(--tex);
	font-weight: 500;
}
.developer
{
	color: var(--darkblue);
	text-align: center;
}
.footer
{
    background-color: var(--pink);
	border-top-right-radius: 1rem;
	text-align: center;
  
}
.navfoot
{
	list-style: none;

}
.foothead
{
	padding-top:1rem;
	font-size:20px;
	font-weight:bold;
	color:var(--blue);
}
.nav-bar_2
{
	font-size:50px;
	max-width:50px;
	 display: inline;
	padding: 1rem;
}
.fa
{
	text-decoration:none;
	color: var(--white);
}
.fa:hover
{
	color:var(--blue);
}
.copy
{
	color:var(--blue);
	padding-bottom:1rem;
}
.link-in
{
	text-decoration:none;
	/*background-color:var(--blue);*/
	padding: 0.5 rem;
	color:var(--tex);
}
#btn{
	font-size: 25px;
	padding: 0.5rem;
	border-radius: 25px;
	background-color: var(--darkblue);
	border: none;
}
.pro
{
  margin-left: 10rem;
  margin-right: 10rem;
  list-style-type: none;
  padding-left: 5rem;
  padding-right: 5rem;
}
.pro-border{
	margin-left: 10rem;
  margin-right: 10rem;
  list-style-type: none;
  background-color:rgb(247, 236, 9,0.2);
  padding: 1rem 5rem;
  border-radius: 25px;
}
.pro-des
{
	font-size: 25px;
}
.blo
{
	text-align: center;
	color: var(--tex);
}
.blo-like
{
	text-align:center;
	color: var(--blue);
}
.blogger
{
	text-decoration:none;
}
.blogger:hover
{
  color: var(--pink);
}
